<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h3>Data Binding</h3>
    <form action="/Student/save" method="post" th:object="${sv}">
      <input th:field="*{email}" placeholder="Email?" /><br>
      <input  th:field="*{fullName}" placeholder="fullname?" type="text" name="" id="" /><br>
      <input  th:field="*{marks}" placeholder="marks?" type="text" name="" id="" /><br>
      <input  th:field="*{gender}" type="radio" th:value="true" name="gender" id="" />
      <input  th:field="*{gender}" type="radio" th:value="false" name="gender" id="" /><br>
        <select th:field="*{country}">
            <option value=""></option>
            <option value="VN">Việt Nam</option>
            <option value="US">US</option>
        </select>
        <hr>
        <button>Save</button>
    </form>
  </body>
</html>
